@page "/counter"
@inject IJSRuntime JS
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@*<div
    class="jumbotron"
    @onkeydown="@KeyDown"
    tabindex="0"
    @ref="myDiv" >
    <h1 class="display-4">
    @letter
    </h1>
    </div>*@

<div @onkeypress="e => KeyPress(e)" tabindex="0" @ref="myDiv">
    <h1 class="display-4">
        SSSS
        @letter
    </h1>
</div>

@code {
    string letter = "";
    private void KeyPress(KeyboardEventArgs e)
    {
        letter += e.Key;
    }
    protected void KeyDown(KeyboardEventArgs e)
    {
        letter = $"Pressed: [{e.Key}]";
    }

    protected ElementReference myDiv;  // set by the @ref attribute

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("SetFocusToElement", myDiv);
        }
    }
}
