@page "/"

<PageTitle>Calcolatrice</PageTitle>
<h1>Calcolatrice</h1>

<table style="text-align:center;">
    <caption class="caption-top">
        <div class="alert alert-secondary" role="alert" style="text-align:right;">
            &nbsp;@Display
        </div>
    </caption>
    <tr>
        <td><button class="btn btn-dark" @onclick="Cancella">C</button></td>
        <td><button class="btn btn-dark" @onclick='TornaIndietro'>←</button></td>
        <td><button class="btn btn-dark" @onclick='(()=>Tasto("/"))'>ͱ</button></td>
        <td><button class="btn btn-dark" @onclick='Divisione'>÷</button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-outline-dark" @onclick='(()=>Tasto("7"))'>7</button></td>
        <td><button type="button" class="btn btn-outline-dark" @onclick='(()=>Tasto("8"))'>8</button></td>
        <td><button type="button" class="btn btn-outline-dark" @onclick='(()=>Tasto("9"))'>9</button></td>
        <td><button type="button" class="btn btn-dark" @onclick='Moltiplica'>×</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("4"))'>4</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("5"))'>5</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("6"))'>6</button></td>
        <td><button type="button" class="btn btn-dark" @onclick='Differenza'>-</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("1"))'>1</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("2"))'>2</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("3"))'>3</button></td>
        <td><button type="button" class="btn btn-dark" @onclick='Somma'>+</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-dark" @onclick='(()=>Tasto("-"))'>±</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("0"))'>0</button></td>
        <td colspan="2"><button class="btn btn-primary px-4" type="button" @onclick="Calcola">&nbsp; = &nbsp;</button></td>
    </tr>
</table>
<ul>
    @foreach (var item in StoricoOperazioni)
    {
        <li>@item</li>
    }
</ul>

@code {
    private string Display { get; set; } = "";
    private Frazione f1 = new();
    private Frazione f2 = new();
    private char opt = '\0';
    private List<string> StoricoOperazioni = new();

    private void Tasto(string s) => Display += s;
    private void Cancella()
    {
        Display = "";
    }
    private void TornaIndietro()
    {
        if (Display.Length > 0) Display = Display.Substring(0, Display.Length - 1);
    }
    private void Somma()
    {
        Calcola();
        opt = '+';
        f1 = new Frazione(Display);
        Display = "";
    }
    private void Differenza()
    {
        opt = '-';
        f1 = new Frazione(Display);
        Display = "";
    }
    private void Moltiplica()
    {
        opt = '*';
        f1 = new Frazione(Display);
        Display = "";
    }
    private void Divisione()
    {
        opt = '/';
        f1 = new Frazione(Display);
        Display = "";
    }
    private void Calcola()
    {
        f2 = new Frazione(Display);
        Frazione risultato = new();
        switch (opt)
        {
            case '*':
                risultato = f1 * f2;
                break;
            case '/':
                risultato = f1 / f2;
                break;
            case '+':
                risultato = f1 + f2;
                break;
            case '-':
                risultato = f1 - f2;
                break;
            default:
                risultato = f1;
                break;
        }
        Display = risultato.Semplifica().ToString();
        StoricoOperazioni.Add(String.Concat(f1, opt, f2, " = ", Display));
    }
}
