@page "/"

<PageTitle>Index</PageTitle>

<h1>Calcolatrice</h1>
<p>@Display</p>
<table>
    <tr>
        <td><button>X</button></td>
        <td><button @onclick="Cancella">C</button></td>
        <td><button>X</button></td>
        <td><button @onclick="Calcola">=</button></td>
    </tr>
    <tr>
        <td><button @onclick='(()=>M1("7"))'>7</button></td>
        <td><button @onclick='(()=>M1("8"))'>8</button></td>
        <td><button @onclick='(()=>M1("9"))'>9</button></td>
        <td><button @onclick='Moltiplica'>*</button></td>
    </tr>
    <tr>
        <td><button @onclick='(()=>M1("4"))'>4</button></td>
        <td><button @onclick='(()=>M1("5"))'>5</button></td>
        <td><button @onclick='(()=>M1("6"))'>6</button></td>
        <td><button @onclick='(()=>M1("/"))'>ͱ</button></td>
    </tr>
    <tr>
        <td><button @onclick='(()=>M1("1"))'>1</button></td>
        <td><button @onclick='(()=>M1("2"))'>2</button></td>
        <td><button @onclick='(()=>M1("3"))'>3</button></td>
        <td><button @onclick='(Divisione)'>/</button></td>
    </tr>
</table>


@code {
    private string Display { get; set; } = "";
    private Frazione f1 = new();
    private Frazione f2 = new();
    private char opt = '\0';

    private void M1(string s)
    {
        Display += s;
    }

    private void Cancella()
    {
        Display = "";
    }

    private void Moltiplica()
    {
        opt = '*';
        f1 = new Frazione(Display);
        Display = "";
    }
    private void Divisione()
    {
        opt = '/';
        f1 = new Frazione(Display);
        Display = "";
    }
    private void Calcola()
    {
        f2 = new Frazione(Display);
        Frazione risultato = new();
        switch (opt)
        {
            case '*':
                risultato = f1 * f2;
                break;
            case '/':
                risultato = f1 / f2;
                break;
            case '+':
                risultato = f1 + f2;
                break;
        }
        Display = risultato.Semplifica().ToString();
    }

}
