@page "/paginageneratorepassword"

<PageTitle>Generatore Password</PageTitle>
<h1>Generatore <span class="badge bg-secondary">Password</span></h1>
<label for="inputAlfabeto" class="form-label">Alfabeto</label>
<input @bind="@generatorePassword.Alfabeto" id="inputAlfabeto" class="form-control">

<p>
    @generatorePassword.Alfabeto
</p>
<button @onclick="GeneraNuovaPassword">Nuova Password</button>
<p>
    @NuovaPassword
</p>
@code {
    private string NuovaPassword = "";
    private GeneratorePassword generatorePassword = new(TipoPassword.CaratteriSpeciali);

    void GeneraNuovaPassword()
    {
        NuovaPassword = generatorePassword.NuovaPassword(10);
    }
}
