@page "/fetchdata"

<PageTitle>categorie</PageTitle>

@using BlazorAppCRUD.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<h1>Categorie</h1>

@if (categorie == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categorie)
            {
                <tr>
                    <td>@item.CategoriaId</td>
                    <td>@item.Nome</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Categoria>? categorie;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        categorie = await context.Categorie.ToListAsync();
    }
}
