@page "/viewprodotto/{ProdottoId:int}"

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Nav

<h3>View Prodotto @Prodotto.ProdottoId</h3>
@Prodotto.Nome
<br>
@Prodotto.DataScadenzaGaranzia?.ToLongDateString()
<br>
@Prodotto.Prezzo?.ToString("C")

<br />
<a class="btn btn-warning" title="Go Back" href="/fetchprodotti">
    🔙 Back to Grid
</a>



@code {
    [Parameter]
    public int ProdottoId { get; set; }
    private Prodotto Prodotto { get; set; }
    protected override void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();
        Prodotto = context.Prodotti?.Find(ProdottoId);
    }

}
